{% extends "base.html" %}
{% load static %}

{% block title %}
    <title>Home page</title>
{% endblock %}

{% block content %}
  <div class="container py-5">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-6 pb-4">
        <h1 class="display-4 font-weight-bold">Task Manager Home</h1>
        <p>Task Manager has the following record counts:</p>
        <ul>
          <li><strong>Workers:</strong> {{ num_worker }}</li>
          <li><strong>Tasks:</strong> {{ num_tasks }}</li>
          <li><strong>Task types:</strong> {{ num_task_types }}</li>
          <li><strong>Positions:</strong> {{ num_positions }}</li>
        </ul>
        <p>You have visited this page: {{ num_visits }} time{{ num_visits|pluralize }}.</p>
        <br>
        <p>
          <strong>Task remaining:</strong> {{ num_task_not_completed }}<br>
          <strong>Task completed:</strong> {{ num_task_completed }}
        </p>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-6">
        <img class="img-fluid rounded" src="{% static '/img/task.png' %}" alt="Task">
      </div>
    </div>
  </div>
{% endblock %}
