{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>
    Type of task
    <a href="{% url 'manager:task-type-create' %}" class="btn btn-outline-primary link-to-page">
      Create
    </a>
  </h1>

  <form action="" method="get" class="form_inline">
    {{ search_form|crispy }}
    <input type="submit" value="🔍" class="btn btn-outline-dark">
  </form>

  {% if tasktype_list %}
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Update</th>
          <th>Delete</th>
        </tr>
      </thead>

      {% for type in tasktype_list %}
        <tr>
          <td>
            <strong>{{ type.id }}</strong>
          </td>
          <td>
              {{ type.name }}
          </td>
          <td>
              <a style="color: darkblue"
                  href="{% url 'manager:task-type-update' pk=type.id %}">
                Update
              </a>
            </td>
            <td>
              <a style="color: red"
                href="{% url 'manager:task-type-delete' pk=type.id %}">
                Delete
              </a>
            </td>
        </tr>
      {% endfor %}
    </table>

  {% else %}
      <p>There are no types for tasks in table.</p>
  {% endif %}

{% endblock %}