{% extends "base.html" %}

{% block content %}
  <h1>
    Type of task
    <a href="{% url 'manager:task-type-create' %}" class="btn btn-primary link-to-page">
      Create
    </a>
  </h1>

  {% if task_type_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>

      {% for type in task_type_list %}
        <tr>
          <td>
              {{ type.id }}
          </td>
          <td>
              {{ type.name }}
          </td>
          <td>
              <a href="{% url 'manager:task-type-update' pk=type.id %}">
                Update
              </a>
            </td>
            <td>
              <a style="color: red"
                href="{% url 'manager:task-type-delete' pk=type.id %}">
                Delete
              </a>
            </td>
        </tr>
      {% endfor %}
    </table>

  {% else %}
      <p>There are no types for tasks in table.</p>
  {% endif %}
{% endblock %}