<div id="wrapper" class="toggled">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar">
                <a href="{% url 'manager:index' %}">
                    Home page
                </a>
            </li>
            <li>
                <a href="#">Tasks</a>
            </li>
            <li>
                <a href="#">Task types</a>
            </li>
            <li>
                <a href="#">Workers</a>
            </li>
            <li>
                <a href="#">Positions</a>
            </li>
        </ul>
    </div>
</div>