<div id="wrapper" class="toggled">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar">
                <a href="{% url 'manager:index' %}">
                    Home page
                </a>
            </li>
            <li>
                <a href="#">Manufacturer</a>
            </li>
            <li>
                <a href="#">Cars</a>
            </li>
            <li>
                <a href="#">Drivers</a>
            </li>
        </ul>
    </div>
</div>